﻿@{
    ViewBag.Title = "Temp Availability";
}

@section styles {
    @Styles.Render("~/Content/weekCalendarStyles")
}

@section scripts {
    @Scripts.Render("~/Content/weekCalendar")
    <script>
        $(function() {
            var startDate = "@ViewBag.date";
            var calendar = weekCalendar($('.weekCalendar'), {
                startDate: startDate ? new Date(startDate) : new Date()
            });
            calendar.setTitle('@ViewBag.Title');

            calendar.addControlForDay(function(el, i) {
                el.append(
                    '<input type="checkbox" data-index="' + i + '" class="check-availability" />'
                );
            });
            calendar.addControlScheduleForDay(function(el, i) {
                el.append('<div class="day-schedule-container"></div>');
            });
            // end of calendar events
            

            function onWeekNavigate() {
                // update url
                if(history && history.pushState) {
                    history.pushState(null, null, "/Teacher/Availability?startDate=" + calendar.getDateMoment().format('YYYY-M-D'));
                }

                // update optionboxes for availability
                $.post('@Url.Content("~/Teacher/jsonAvailabilities")?teacherId=' + @ViewBag.userId + '&week=' + calendar.getDateMoment().week() + '&year=' + calendar.getDateMoment().year(), function(data) {
                    if(data) {
                        var checkboxes = $('.check-availability');
                        for(var i in data.availabilities) {
                            $( checkboxes[ data.availabilities[i] ] ).prop('checked', true);
                        }
                    }
                });


                calendar.container.addClass('loading');
                $('.day-schedule-container').empty();

                $.ajax({
                    type: 'post',
                    url: '@Url.Content("~/School/GetRosterRequests")',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        week: calendar.getDateMoment().week()
                    }), 
                    success: function(data) {

                        for(var i in data) {

                            for(var j in data[i]) {
                                var requestData = data[i][j];

                                html = "";
                                d = moment.unix(requestData.RosterDateUnix);
                                
                                statusClass = requestData.Request.status + " half-transparent fa fa-3x";

                                switch(requestData.Request.status) {
                                    case "Approved": {
                                        statusClass += " fa-check-circle";
                                        break;
                                    }
                                    case "Declined": {
                                        statusClass += " fa-times-circle";
                                        break;
                                    }
                                    case "Pending": {
                                        statusClass += " fa-question-circle";
                                        break;
                                    }
                                }

                                // school logo
                                logo = '';
                                initials = requestData.School.Profile.schoolName.match(/\b(\w)/g);
                                initials = initials.slice(0, 3).join(''); // get first three letters

                                if(requestData.School.Logo.Data.filename) {
                                    logo += ' style="background-image: url(\/Content\/uploads\/' + requestData.School.Logo.Data.filename + '); background-size: cover"';
                                }
                                
                                if(requestData.Request.status == "Pending") {
                                    html += 
                                        '<div class="wc-schedule-item ' + requestData.Request.status + '">' + 
                                            '<a href="@Url.Content("~/School/Profile")?id=' + requestData.School.id + '">' +
                                                '<div class="name">' + requestData.School.Profile.schoolName + '</div>' +
                                            '</a>' +
                                            '<a href="@Url.Content("~/Teacher/RosterAction")?rosterId=' + requestData.Request.ID + '">' +
                                                '<div data-initials="' + initials + '" class="school avatar img-circle ' + (logo ? 'hide-initials' : '') + '"' + logo + ">" +
                                                '</div>' +
                                                '<div class="status ' + statusClass + '"></div>' +
                                            '</a>'
                                        '</div>';

                                } else {
                                     html += 
                                        '<div class="wc-schedule-item ' + requestData.Request.status + '">' + 
                                            '<a href="@Url.Content("~/School/Profile")?id=' + requestData.School.id + '">' +
                                                '<div class="name">' + requestData.School.Profile.schoolName + '</div>' +
                                            '</a>' +

                                            '<div data-initials="' + initials + '" class="school avatar img-circle ' + (logo ? 'hide-initials' : '') + '"' + logo + ">" +
                                            '</div>' +
                                            '<div class="status ' + statusClass + '"></div>' +
                                        '</div>';
                                }

                                $( $('.day-schedule-container')[ d.isoWeekday() - 1 ] )
                                    .append(html);


                            }


                        } // end of for i




                    },
                    complete: function() {
                        calendar.container.removeClass('loading');

                    },
                    error: function() {
                        //$('.errors').html("Something went wrong.").removeClass('hidden');
                    }


                }); // end of ajax


              
            } // end of onWeekNavigate
            onWeekNavigate();

            calendar.onAfterWeekNavigate(function() {
                onWeekNavigate();
            });


            $('body')
                .on('click', '.btn-save-availability', function() {
                    selected = [];
                    el = $(this);
                    el.addClass('disabled');
                    $('.check-availability:checked').each(function() {
                        selected.push( $(this).data('index') );
                    });
                    // save to db
                    $.post('@Url.Content("~/Teacher/SaveAvailabilities")', 
                        { 
                            daysAvailable: selected,
                            week: calendar.getDateMoment().week(),
                            year: calendar.getDateMoment().year() 
                        }, function() {
                        el.removeClass('disabled');
                    });
                })

                // save availabilities for each update on checkboxes
                .on('click', '.check-availability', function() {
                    $('.btn-save-availability').click();
                });

        });
    </script>
}


<div>
    <div class="weekCalendar"></div>
</div>




<!-- weekCalendar view -->
<div class="wc-days-header-row-container hidden">
    <div data-spy="affix" data-offset-top="100" class="row navigation affix">
        <div class="container">
            <div class="col-md-4 col-sm-5">
                <div class="clearfix navigation-container">
                    <button class="btn btn-primary btn-xs pull-left navigate-week back"><i class="fa fa-chevron-left"></i></button> 
                    <h4 class="pull-left week-label"></h4> 
                    <button class="btn btn-primary btn-xs pull-left navigate-week forward"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="col-md-8 col-sm-7 day-schedule">
                <h3 class="title pull-left hidden-xs"></h3>
                <button class="btn btn-success btn-xs btn-save-availability pull-right hidden-xs equal-margin">Save</button>
            </div>
        </div>
    </div>
    <!-- end of header -->
    <ul class="days-list">

    </ul>
</div>
<div class="wc-days-items-hidden-container hidden">
    <li>
        <div class="row day-item">
            <div class="col-xs-4 col-md-3">
                <div class="controls pull-left">
                    <!-- dynamically add controls here -->
                </div>
                <div class="clearfix pull-left">
                    <h4 class="pull-left">
                        <span class="day-label"></span>
                        <!--<span class="date-label label label-default"></span>-->
                    </h4>
                </div>
            </div>
            <div class="col-xs-8 col-md-9 day-schedule">
                
            </div>
        </div>
    </li>
</div>

