﻿@model Casual_Roster_Web.Models.TeacherViewModel
@{
    ViewBag.Title = "Edit Profile";
}

@section scripts {

    <script src='http://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places'></script>
    @Scripts.Render("~/Content/geocomplete")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/intltelinput")

    <script>
        $(function() {

            function formatter(data) {
                return {
                    results: _.map(data.schools, function(school) {
                        return {
                            text: school.schoolName,
                            id: school.id
                        }
                    })
                };
            }

            $('#preferredSchools').select2({
                placeholder: 'Select preffered schools',
                multiple: true,
                initSelection: function(element, callback) {
                    return $.getJSON( "@Url.Content("~/Teacher/jsonGetSchoolsAvailable")?ids=" + element.val(), null, function(data) {
                        if(!data) return;

                        // remove not valid ids
                        var selectedIds = _.pluck(data.schools, 'id');
                        selectedIds = selectedIds.join(',');
                        $('#preferredSchools').val( selectedIds );

                        return callback(
                            _.map(data.schools, function(school) {
                                return {
                                    text: school.schoolName,
                                    id: school.id
                                };
                            })
                        );
                    });
                },

                ajax: {
                    url: "@Url.Content("~/Teacher/jsonGetSchoolsAvailable")",
                    dataType: 'json',
                    results: function(data) {
                        return formatter(data);
                    }
                }
            });



            // location
            var params = {
                map: '.map'
            };

            var geoMap = $('#formattedAddress').geocomplete(params)

            geoMap.bind("geocode:result", function(event, result){
                if(result) {
                    $('#lat').val( result.geometry.location.lat() );
                    $('#lng').val( result.geometry.location.lng() );
                }
            });

            @if(Model.lat != null && Model.lng != null) {
                <text>
                    $('#formattedAddress').geocomplete("find", "@Model.formattedAddress");
                </text>
            }

        });
    </script>
}

@section styles {
    @Styles.Render("~/Content/select2Css")
    @Styles.Render("~/bundles/intltelinputCss")
}



<div class="row">
    
    @using (Html.BeginForm("EditProfile", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" } )) {


        <div class="col-md-12 clearfix">

            @if(!ViewData.ModelState.IsValid) {
                <div class="alert alert-danger">@Html.ValidationSummary()</div>
            }   

            @if(ViewBag.success != null) {
                <div class="alert alert-success">Profile successfully updated</div>
            }

            <h1 class="pull-left">@ViewBag.Title</h1>
            <button type="button" class="pull-right btn btn-success form-submit">Update Profile</button>

        </div>

        @Html.HiddenFor(x => x.mobileCountryCode )
        @Html.HiddenFor(x => x.user_id )


        <div class="clearfix">

            <div class="col-md-3">
                <div class="teacher-photo" style="background-image: url(@Url.Content("~/Content/uploads")/@(Model.PhotoData != null ? Model.PhotoData.filename : ""))"></div>
                <div class="form-group">
                    <label>Change Photo</label>
                    <input type="file" name="uploadedLogo">
                    <!--<p class="help-block">Example block-level help text here.</p>-->
                </div>
            </div>


            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(x => x.firstName )
                    @Html.TextBoxFor(x => x.firstName, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(x => x.firstName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.lastName )
                    @Html.TextBoxFor(x => x.lastName, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(x => x.lastName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.gender )
                    <div>
                        <label>
                            @Html.RadioButtonFor(x => x.gender, "Male")
                            Male
                        </label>
                        <label>
                            @Html.RadioButtonFor(x => x.gender, "Female")
                            Female
                        </label>
                    </div>
                    @Html.ValidationMessageFor(x => x.gender)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.email )
                    @Html.TextBoxFor(x => x.email, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(x => x.email)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.mobile )
                    @Html.TextBoxFor(x => x.mobile, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(x => x.mobile)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.mobileAlter )
                    @Html.TextBoxFor(x => x.mobileAlter, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(x => x.mobileAlter)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.category )
                    @Html.TextBoxFor(x => x.category, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(x => x.category)
                </div>
            </div> 


            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(x => x.preferredSchools )
                    @Html.HiddenFor(x => x.preferredSchools )
                    @Html.ValidationMessageFor(x => x.preferredSchools)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.postCode )
                    @Html.TextBoxFor(x => x.postCode, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(x => x.postCode)
                </div>

                <div class="form-group">
                    <label for="formattedAddress">Location</label>
                    @Html.TextBoxFor(x => x.formattedAddress, new { @class = "form-control" } )
                    @Html.HiddenFor(x => x.lat)
                    @Html.HiddenFor(x => x.lng)
                    <div class="panel">
                        <div class="map"></div>
                    </div>
                </div>

            </div>
        </div>


    }
</div>