﻿@model Casual_Roster.Teacher


@{
    ViewBag.Title = Model.Profile.firstName + " - Casual Roster";
    var profile = Model.Profile;
}


<div class="col-md-3 col-sm-5 col-xs-12">

    <div class="teacher-photo" style="background-image: url(@Url.Content("~/Content/uploads")/@(profile.PhotoData != null ? profile.PhotoData.filename : ""))"></div>


</div>


<div class="col-md-4 col-sm-7 col-xs-12 profile-body">
    @if(ViewBag.CurrentUser != null && ViewBag.CurrentUser.GetProfile().user_id == profile.user_id) {
        <a href="@Url.Content("~/Teacher/EditProfile")" class="btn btn-primary pull-right btn-sm">Edit profile</a>
    }

    <h1>@profile.firstName</h1>
    <p><label>Name: </label> <b>@profile.firstName @profile.lastName</b></p>
    <p><label>Gender: </label> <b>@profile.gender</b></p>
    <hr />
    <p><label>Category: </label> <b>@profile.category</b></p>
    <p><label>Email: </label> <b>@profile.email</b></p>
    <p><label>Mobile: </label> <b>@profile.mobile</b></p>
    <p><label>Mobile (alternative): </label><b>@profile.mobileAlter</b></p>
    <p><label>Post code: </label> <b>@profile.postCode</b></p>
</div>

<div class="col-md-4 col-sm-12 col-xs-12 map-container">
    @if(profile.Location != null) {
        <p>@profile.Location.formattedAddress</p>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=@profile.Location.lat,@profile.Location.lng&zoom=14&size=400x300&markers=icon:xxx%7Cshadow:true%7C@(profile.Location.formattedAddress)">
    }
</div>


