﻿@model Casual_Roster_Web.Models.TeacherViewModel


@{
    ViewBag.Title = "Register Requested Temp";
}


@section scripts {
    @Scripts.Render("~/bundles/intltelinput")
}

@section styles {
    @Styles.Render("~/bundles/intltelinputCss")
}



<div class="col-md-5">
    <h1>@ViewBag.Title</h1>
    @using (Html.BeginRouteForm("QueryRoute", new{ action="RegisterRequested", controller="Teacher", id=Model.user_id }, FormMethod.Post, new { enctype = "multipart/form-data" })) {

        @Html.HiddenFor(x => x.User.ID)
        @Html.HiddenFor(x => x.user_id)
        @Html.HiddenFor(x => x.mobileCountryCode)

        <div class="form-group">
            @Html.LabelFor(x => x.firstName )
            @Html.TextBoxFor(x => x.firstName, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.firstName)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.lastName )
            @Html.TextBoxFor(x => x.lastName, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.lastName)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(x => x.gender )
            <div>
                <label>
                    Male
                    @Html.RadioButtonFor(x => x.gender, "Male")
                </label>
                <label>
                    Female
                    @Html.RadioButtonFor(x => x.gender, "Female")
                </label>
            </div>
            @Html.ValidationMessageFor(x => x.gender)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.email )
            @Html.TextBoxFor(x => x.email, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.email)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.mobile )
            @Html.TextBoxFor(x => x.mobile, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.mobile)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.mobileAlter )
            @Html.TextBoxFor(x => x.mobileAlter, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.mobileAlter)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.postCode )
            @Html.TextBoxFor(x => x.postCode, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.postCode)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.User.username )
            @Html.TextBoxFor(x => x.User.username, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.User.username)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.User.password )
            @Html.PasswordFor(x => x.User.password, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.User.password)
        </div>

        <div class="form-group">
            <label>Photo</label>
            <input type="file" name="uploadedLogo" class="btn btn-default">
            <!--<p class="help-block">Example block-level help text here.</p>-->
        </div>


        <button type="button" class="btn btn-success btn-lg form-submit">Submit</button>
    }   
</div>



<div class="col-md-5">
    @if(!ViewData.ModelState.IsValid) {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
</div>