﻿
@{
    ViewBag.Title = "Roster Action";
}


<div class="col-md-6 col-md-offset-3 text-center">
	<h1>Casual Roster Alert</h1>

	<p>School: @ViewBag.roster.School.Profile.schoolName</p>
	<p>Contact: @ViewBag.roster.School.Profile.phones</p>
	<p>Required Date: @ViewBag.roster.Request.roster_date.ToString("ddd dd MMM yyyy")</p>

	<div class="panel">
		<div class="col-md-6 col-md-offset-3">
			<a href="@Url.Content("~/Teacher/AcceptRoster")?id=@ViewBag.roster.id" onclick="return confirm('Continue accepting roster request?')" class="btn btn-success btn-block">Accept</a>
			<a href="@Url.Content("~/Teacher/DeclineRoster")?id=@ViewBag.roster.id" onclick="return confirm('Continue declining roster request?')" class="btn btn-danger btn-block">Decline</a>
		</div>
	</div>
</div>


