﻿


body {
    position: relative;
    padding: 0;
    overflow-y: scroll;

    .body-container {
        margin-top: -18px;
        
    }

    header {
        padding-top: 0;
    }


    // fixes for templatemonster theme
    header * + .separ {
        margin-top: 10px;
    }

    * + .btn {
        margin-top: 0;
    }

    .form-control {
        color: #666666;
    }

    .btn.equal-margin {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .navbar-default .navbar-brand:after {
        content: "\f095";
        left: 17px;
        top: 0px;
    }

    .btn-small-padding {
        padding: 7.6px 9.4px;
    }

    


    // bootstrap controls
    .navbar-default {
        margin-bottom: 0;
    }

    label {
        font-size: 12px;
        text-transform: uppercase;
        color: rgb(102, 102, 102);
    }

    .form-control {
        .box-shadow(inset 0 2px 6px rgb(221, 221, 221));
    }

    input.input-validation-error {
        border: 1px solid #FFAEAD;
    }

    // end of bootstrap controls

}





// week calendar


.weekCalendar {
    ul.days-list {

        .day-item {
            background-color: rgb(244, 244, 244);
            border-color: rgb(213, 213, 213);


            .date-label {
                font-size: 11px;
                background-color: #D3D3D3;
                color: rgb(124, 124, 124);
            }

            .day-label {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bold;
                color: rgb(92, 166, 187);
                margin-left: 10px;
            }

            .name {
                display: none;
            }
        }


        .controls {
            .check-availability {
                margin-top: 13px;
                margin-right: 7px;
            }
        }

    }

    .row.navigation {

        top: 0;
        background: rgb(207, 207, 207);
        left: 0;
        right: 0;
        z-index: 1111;

        &.affix-top {
            top: 51px;
        }

        &:not(.affix-top) {
            .container {
                padding: 0;
            }
            border-bottom: 1px solid silver;
        }

        .title {
            margin: 10px 0;
            color: rgb(116, 116, 116);
            font-size: 19px;
        }

        .week-label { 
            margin: 0;
            width: 149px;
            text-align: center;
            text-transform: uppercase;
            font-size: 15px;
            color: #5c5c5c;
            line-height: 17px;
        }

        .navigate-week {
            padding: 7px 13px;
        }

        .navigation-container {
            margin: 15px 0;
        }

    }


    &.loading {

        .row.navigation {

            &:before {
                content: ' ';
                position: absolute;
                width: 64px;
                height: 64px;
                right: 0;
                top: 14px;
                background: url('/Content/Pulse.gif') no-repeat;
            }

            &:not(.affix-top):before {
                margin-right: 113px;
            }
        }

        .btn-save-availability {
            display: none;
        }
    }
}



// select2
.select2-container { width: 100%; }
.select2-container-multi .select2-choices .select2-search-choice {
    margin: 5px 0 3px 5px;
}




// intltelinput
.intl-tel-input { display: block; }









// theme config
.pricing-table .price-box {


    h3 {
        font-size: 28px;
    }

    p {
        margin-right: auto;

        span:nth-child(2) {
            left: 156px;
        }

        span.term {
            left: 122px;
        }
    }
}

.form-control {
    padding: 2px 7px;
    height: 40px;
}

.form-group {
    margin-bottom: 6px;
}

.field-validation-error {
    padding: 0;
}

label {
    margin-bottom: 0;
}


.controller-Home.action-Index {
    .camera_caption {
        left: 15%;
    }

    .thumbnail {
        text-align: center;
    
        .caption {
            text-align: center;
            margin-top: -21px;

            a.btn {
                margin-top: 15px;
            }
        }

        p {
            text-align: center;
        }

        span {
            width: 107px;
        }

        span:before {
            left: 0;
            top: -19px;
        }
    }
}