﻿



.controller-School {

    .school-logo {
        max-width: 250px;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: whitesmoke;
    }


    &.action-Profile {

        h3 {
            margin-top: 0;
        }

        h4 {
            color: rgb(115, 115, 115);
        }
    }

    &.action-EditProfile {
        h3 {
            margin-top: 0;
        }

        .school-logo {
            margin-bottom: 10px;
        }

        .map {
            height: 300px;
            margin-top: 10px;
        }
    }


}
