@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {


    .weekCalendar {

        .wc-schedule-item {
            margin-top: 15px;
        }
    }




    // teacher
    .controller-Teacher {

        &.action-Profile {

            .map-container {
                margin-top: 20px;
            }
        }
    }

    // school
    .controller-School {

        &.action-Profile {

            .map-container {
                margin-top: 20px;
            }
        }
    }



    //theme config
    body {
        .body-container {
            margin-top: 7px;
        }

        .navbar-right {
            margin-right: 0 !important;
        }
    }
    


}