﻿



.controller-Teacher {


    .teacher-photo {
        max-width: 250px;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: whitesmoke;
    }


    &.action-Profile {
        h3 {
            margin-top: 0;
        }
    }

    &.action-EditProfile {

        h3 {
            margin-top: 0;
        }

        .map {
            height: 300px;
            margin-top: 10px;
        }

        .teacher-photo {
            margin-bottom: 10px;
        }
    }







}
