﻿@media (max-width: @screen-xs-max) {


    body {
        .body-container {
            margin-top: 0;
        }

        header * + .separ {
            margin: 0;
        }
    }




    .weekCalendar {



        .row.navigation {
            text-align: center;

            .day-schedule {
                .title {
                    margin: 15px 0 8px !important;
                }
            }

            .navigation-container {
                margin: 4px auto 0;
                display: inline-block;
            }


            .navigate-week {
                font-size: 20px;
                padding: 0 11px;
                margin-top: 4px;

            }

            .week-label {
                color: rgb(86, 86, 86);
                font-size: 17px;
                margin: 8px 5px !important
            }

        }



        &.loading {

            .row.navigation {
                &:before {
                    position: relative;
                    margin: 0 auto;
                    height: 66px;
                }

                &:not(.affix-top):before {
                    margin: 0 auto;
                }

            }

        }
    }
    



    ul.days-list {
        .day-item {
            padding-top: 15px;
        }
    }


    .day-schedule-container {

        .wc-schedule-item {
            margin-bottom: 12px;


            .name {
                font-size: 16px;
                padding-bottom: 2px;

            }
        }

    }




    // school
    .controller-School {

        &.action-Profile {

            .profile-body {
                margin-top: 10px;
            }
        }
    }


    // teacher
    .controller-Teacher {

        &.action-Profile {

            .profile-body {
                margin-top: 10px;
            }
        }
    }




    // theme config
    .btn-save-availability-container {
        margin-bottom: 0;
    }

    header {
        .navbar.navbar-default {
            display: block;

            .navbar-brand {
                font-size: 30px;
                margin: 14px 0;
                padding-left: 62px;

                &:before {
                    width: 53px;
                    height: 53px;
                    left: 3px;
                }
                &:after {
                    font-size: 31px;
                }
            }

            .navbar-nav > li {
                margin-left: 10px;
            }
        }
    }




}
