@model Casual_Roster_Web.Models.TeacherViewModel

@{
    ViewBag.Title = "Request A Temp";
}

@section scripts {
    <script src="/Content/intltelinput/src/intlTelInput.min.js"></script>
    <script>
        $(function() {

            var tmr;

            $('#mobile').on('keyup', updateFields);
            $('body').on('click', '.country-list .country', updateFields); // when country code is changed

            function updateFields() {
                var self = $('#mobile');

                if(tmr) {
                    clearTimeout(tmr);
                }

                // user id of selected mobile
                $('.user-id').val('');

                // remove disabled textboxes
                $('input[type="text"]:not(#mobile)').val('').removeAttr('disabled');

                // delay 1sec to request for mobile info
                tmr = setTimeout(function() {
                    if(!self.val()) return;

                    $.ajax({
                        type: 'post',
                        url: '@Url.Content("~/Teacher/jsonGetMobileInfo")?mobile=' + self.val() + '&countryCode=' + self.intlTelInput("getSelectedCountryData").iso2.toUpperCase(),
                        contentType: 'application/json',
                        success: function(data) {
                            data = data.teacher;
                            $('.user-id').val(data.user_id);

                            for(var key in data) {
                                field = $('#' + key);
                                field.val( data[key] );
                                if(key != 'mobile') {
                                    field.attr('disabled', 'disabled');
                                }
                            }
                        }
                    });

                }, 1000);
            };



            // init intltelinput
            $('#mobile').intlTelInput({
                preferredCountries: ['au', 'ph'],
                utilsScript: "/Content/intltelinput/src/utils.js",
                defaultCountry: $('#mobileCountryCode').val()
            });

            

        }); // end of jquery onready


    </script>
}

@section styles {
    @Styles.Render("~/bundles/intltelinputCss")
}

<div class="col-md-5">

    <h1>Request a Temp</h1>
    <hr />
    @using (Html.BeginForm()) {

        <input type="hidden" class="user-id" name="teacherId" />
        @Html.HiddenFor(x => x.mobileCountryCode)

        <div class="form-group">
            @Html.LabelFor(x => x.mobile )
            @Html.TextBoxFor(x => x.mobile, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.mobile)
        </div>

        <hr />

        <div class="form-group">
            @Html.LabelFor(x => x.firstName )
            @Html.TextBoxFor(x => x.firstName, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.firstName)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.lastName )
            @Html.TextBoxFor(x => x.lastName, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.lastName)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.email )
            @Html.TextBoxFor(x => x.email, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.email)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.postCode )
            @Html.TextBoxFor(x => x.postCode, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.postCode)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.category )
            @Html.TextBoxFor(x => x.category, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.category)
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(x => x.User.username )
            @Html.TextBoxFor(x => x.User.username, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.User.username)
        </div>

        <button type="submit" class="btn btn-primary">Send Request and SMS</button>
    }   
</div>



<div class="col-md-4">
    @if(!ViewData.ModelState.IsValid) {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
</div>