﻿@model Casual_Roster_Web.Models.SchoolViewModel
@{
    ViewBag.Title = "Edit Profile";
}

@section scripts {

    <script src='http://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places'></script>
    @Scripts.Render("~/Content/geocomplete")
    @Scripts.Render("~/bundles/intltelinput")

    <script>
        $(function() {


            // location
            var params = {
                map: '.map'
            };

            var geoMap = $('#formattedAddress').geocomplete(params)

            geoMap.bind("geocode:result", function(event, result){
                if(result) {
                    $('#lat').val( result.geometry.location.lat() );
                    $('#lng').val( result.geometry.location.lng() );
                }
            });

            @if(Model.lat != null && Model.lng != null) {
                <text>
                    $('#formattedAddress').geocomplete("find", "@Model.formattedAddress");
                </text>
            }

        });
    </script>
}

@section styles {
    @Styles.Render("~/Content/select2Css")
    @Styles.Render("~/bundles/intltelinputCss")
}

<div class="row">
    
    @using (Html.BeginForm("EditProfile", "School", FormMethod.Post, new { enctype = "multipart/form-data" } )) {


        <div class="col-md-12 clearfix">

            @if(!ViewData.ModelState.IsValid) {
                <div class="alert alert-danger">
                    @Html.ValidationSummary()
                </div>
            }

            @if(ViewBag.success != null) {
                <div class="alert alert-success">Profile successfully updated</div>
            }

            <h1 class="pull-left">@ViewBag.Title</h1>
            <button type="button" class="pull-right btn btn-success form-submit">Update Profile</button>
        </div>

        @Html.HiddenFor(x => x.mobileCountryCode )
        @Html.HiddenFor(x => x.user_id )

        <div class="clearfix">

            <div class="col-md-3">
                <div class="school-logo" style="background-image: url(@Url.Content("~/Content/uploads")/@(Model.LogoData != null ? Model.LogoData.filename : ""))"></div>
                <div class="form-group">
                    <label>Change logo</label>
                    <input type="file" name="uploadedLogo">
                    <!--<p class="help-block">Example block-level help text here.</p>-->
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(x => x.schoolName )
                    @Html.TextBoxFor(x => x.schoolName, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(x => x.schoolName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.email )
                    @Html.TextBoxFor(x => x.email, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(x => x.email)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.mobile )
                    @Html.TextBoxFor(x => x.mobile, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(x => x.mobile)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.phones )
                    @Html.TextBoxFor(x => x.phones, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(x => x.phones)
                </div>

            </div> 


            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(x => x.postCode )
                    @Html.TextBoxFor(x => x.postCode, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(x => x.postCode)
                </div>

                <div class="form-group">
                    <label for="formattedAddress">Location</label>
                    @Html.TextBoxFor(x => x.formattedAddress, new { @class = "form-control" } )
                    @Html.HiddenFor(x => x.lat)
                    @Html.HiddenFor(x => x.lng)
                    <div class="panel">
                        <div class="map"></div>
                    </div>
                </div>

            </div>
        </div>


    }
</div>