﻿
@{
    ViewBag.Title = "Get Staff";
}


@section scripts {
    <script>
        $(function() {
            $('.btn-send-request').on('click', function() {
                var selection = $('.check-user-selected:checked');
                var teacherIds = [];
                if(!selection.length) {
                    alert('Please select atleast 1 employer');
                    return;
                }

                selection.each(function() {
                    teacherIds.push($(this).data('user-id'));
                });

                $('.errors').addClass('hidden');
                // make the request
                $.ajax({
                    type: 'post',
                    url: '@Url.Content("~/School/RosterRequest")',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        teacherIds: teacherIds,
                        schoolId: @ViewBag.schoolId,
                        rosterDate: new Date('@ViewBag.requestDate.ToString("yyyy-MM-dd")')
                    }), 
                    success: function(data) {
                        if(data && data.success) {
                            return window.location.href = '@Url.Content("~/School/Roster")';
                        }

                        // something went wrong
                        $('.errors').html(data.errors.join("<br />")).removeClass('hidden');
                    },
                    error: function() {
                        $('.errors').html("Something went wrong.").removeClass('hidden');
                    }
                });

            });
        });
    </script>
}


<div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger errors hidden">xx</div>
    <div class="text-center">
        <p>
            Please select from the list of available employers for the chosen day
            <h4>@(ViewBag.requestDate.ToString("dddd, MMM dd, yyyy"))</h4>
        </p>
    </div>

    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>&nbsp;</th>
        </tr>
        @foreach(var teacher in ViewBag.availableTeachers) {
            var profile = teacher.Profile;

            <tr>
                <td>@profile.firstName @profile.lastName</td>
                <td>@profile.category</td>
                <td class="text-center">
                    <input data-user-id="@teacher.id" class="check-user-selected" type="checkbox" />
                </td>
            </tr>
        }

        @if(ViewBag.availableTeachers.Count == 0) {
            <tr>
                <td colspan="3">No current employer available in requested day</td>
            </tr>
        }
    </table>

    <button class="btn btn-primary btn-send-request pull-right">Send SMS to Selected</button>
</div>

