﻿@model Casual_Roster.School


@{
    ViewBag.Title = Model.Profile.schoolName + " - Casual Roster";
    var profile = Model.Profile;
}


<div class="col-md-3 col-sm-5 col-xs-12">

    @if(Model.Logo != null) {
        <div class="school-logo" style="background-image: url(@Url.Content("~/Content/uploads")/@Model.Logo.Data.filename)"></div>
    }
    
</div>

<div class="col-md-4 col-sm-7 col-xs-12 profile-body">
    @if(ViewBag.CurrentUser != null && ViewBag.CurrentUser.GetProfile().user_id == profile.user_id) {
        <a href="@Url.Content("~/School/EditProfile")" class="btn btn-primary pull-right btn-sm">Edit profile</a>
    }
    <h1>@profile.schoolName</h1>
    <p><label>Name: </label> <b>@profile.schoolName</b></p>
    <p><label>Address: </label> <b>@profile.address</b></p>
    <p><label>Phone(s): </label> <b>@profile.phones</b></p>
    <p><label>Mobile: </label> <b>@profile.mobile</b></p>
    <p><label>Name: </label> <b>@profile.email</b></p>
</div>

<div class="col-md-4 col-sm-12 col-xs-12 map-container">
    @if(profile.Location != null) {
        <p>@profile.Location.formattedAddress</p>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=@profile.Location.lat,@profile.Location.lng&zoom=14&size=400x300&markers=icon:xxx%7Cshadow:true%7C@(profile.Location.formattedAddress)">
    }

</div>