﻿@model Casual_Roster_Web.Models.SchoolViewModel


@{
    ViewBag.Title = "Employer Register";
}

@section scripts {
    @Scripts.Render("~/bundles/intltelinput")
}

@section styles {
    @Styles.Render("~/bundles/intltelinputCss")
}

<div class="col-md-5">
    <h1>@ViewBag.Title</h1>
    @using (Html.BeginForm("Register", "School", FormMethod.Post, new { enctype = "multipart/form-data", id = "register-form" } )) {

        @Html.HiddenFor(x => x.mobileCountryCode )

        <div class="form-group">
            <label for="schoolName">School Name</label>
            @Html.TextBoxFor(x => x.schoolName, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.schoolName)
        </div>
        <div class="form-group">
            <label for="address">Address Details</label>
            @Html.TextBoxFor(x => x.address, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.address)
        </div>
        <div class="form-group">
            <label for="phones">Phone(s)</label>
            @Html.TextBoxFor(x => x.phones, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.phones)
        </div>
        <div class="form-group">
            <label for="mobileNumber">Mobile Number</label>
            @Html.TextBoxFor(x => x.mobile, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.mobile)
        </div>
        <div class="form-group">
            <label>Email address</label>
            @Html.TextBoxFor(x => x.email, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.email)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.postCode )
            @Html.TextBoxFor(x => x.postCode, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.postCode)
        </div>
        <div class="form-group">
            <label>Password</label>
            @Html.PasswordFor(x => x.User.password, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.User.password)
        </div>
        <div class="form-group">
            <label>Repeat Password</label>
            @Html.PasswordFor(x => x.password_repeat, new { @class = "form-control" } )
            @Html.ValidationMessageFor(x => x.password_repeat)
        </div>
        <div class="form-group">
            <label>Logo</label>
            <input type="file" name="uploadedLogo" class="btn btn-default">
            <!--<p class="help-block">Example block-level help text here.</p>-->
        </div>

        <button type="button" class="btn btn-success btn-lg form-submit">Submit</button>
    }
</div>


<div class="col-md-5">
    @if(!ViewData.ModelState.IsValid) {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
</div>