﻿@{
    ViewBag.Title = "Rostered Casual Staff";
}

@section styles {
    @Styles.Render("~/Content/weekCalendarStyles")
}


@section scripts {
    @Scripts.Render("~/Content/weekCalendar")
    <script>
        $(function() {
            var startDate = "@ViewBag.date";
            var calendar = weekCalendar($('.weekCalendar'), {
                startDate: startDate ? new Date(startDate) : new Date()
            });
            //calendar.setTitle('Rostered Temp Staff');


            calendar.addControlForDay(function(el, i) {
                el.append('<button data-index="' + i + '" class="btn btn-xs btn-info btn-get-staff btn-small-padding"><i class="fa fa-user-plus"></i></button>');
            });

            calendar.addControlScheduleForDay(function(el, i) {
                el.append('<div class="day-schedule-container"></div>');
            });

            calendar.addEvent('.btn-get-staff', 'click', function() {
                d = calendar.getDateMoment().add( $(this).data('index') , 'days');
                window.location.href = '@Url.Content("~/School/GetStaff")?' + 'year=' + d.year() + '&month=' + (d.month() + 1) + '&day=' + d.date();
            });

            calendar.onAfterWeekNavigate(function() {
                updateCalendar();
            });
            updateCalendar();

            function updateCalendar() {

                // update url
                if(history && history.pushState) {
                    history.pushState(null, null, "/School/Roster?startDate=" + calendar.getDateMoment().format('YYYY-M-D'));
                }

                var tmp = calendar.getDateMoment();
                $('.day-schedule-container').empty().each(function() {
                    $(this).attr('data-date', tmp.format('YYYY-M-D'));
                    tmp.add(1, 'days');
                });
                calendar.container.addClass('loading');

                $.ajax({
                    type: 'post',
                    url: '@Url.Content("~/School/GetRosterRequests")',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        week: calendar.getDateMoment().week()
                    }), 
                    success: function(data) {
                        if(!data) return;

                        for(var i in data) {

                            for(var j in data[i]) {
                                var requestData = data[i][j];

                                html = "";
                                d = moment.unix(requestData.RosterDateUnix);
                                
                                statusClass = requestData.Request.status + " half-transparent fa fa-3x";

                                switch(requestData.Request.status) {
                                    case "Approved": {
                                        statusClass += " fa-check-circle";
                                        break;
                                    }
                                    case "Declined": {
                                        statusClass += " fa-times-circle";
                                        break;
                                    }
                                    case "Pending": {
                                        //statusClass += " fa-question-circle";
                                        break;
                                    }
                                }

                                photoAttrib = "";
                                initials = (requestData.Teacher.Profile.firstName + " " + requestData.Teacher.Profile.lastName).match(/\b(\w)/g);
                                initials = initials.slice(0, 3).join(''); // get first three letters

                                if(requestData.Teacher.Profile.photo) {
                                    photoAttrib = "style='background-image: url(@Url.Content("~/Content/uploads")/" + requestData.Teacher.Profile.photo + ")'";
                                }

                                html += '<a href="@Url.Content("~/Teacher/Profile")?id=' + requestData.Teacher.id + '">' +
                                            '<div class="wc-schedule-item ' +  requestData.Request.status + '">' + 
                                                '<div class="name">' + requestData.Teacher.Profile.firstName + '</div>' +
                                                '<div data-initials="' + initials + '" class="user avatar img-circle ' + (photoAttrib ? 'hide-initials' : '') + '"' + photoAttrib + ">" +
                                                '</div>' +
                                                '<div class="status ' + statusClass + '"></div>' +
                                            '</div>' +
                                        '</a>';

                                $('.day-schedule-container[data-date=' + d.format('YYYY-M-D') + ']')
                                    .append(html);


                            } // end of for j


                        } // end of for i




                    },
                    complete: function() {
                        calendar.container.removeClass('loading');

                    },
                    error: function() {
                        //$('.errors').html("Something went wrong.").removeClass('hidden');
                    }
                });

            } // end of updateCalendar

        });
    </script>
}

<div>
    <div class="weekCalendar"></div>
</div>






<!-- weekCalendar view -->
<div class="wc-days-header-row-container hidden">
    <div data-spy="affix" data-offset-top="100" class="row navigation affix">
        <div class="container">
            <div class="col-md-4 col-sm-5">
                <div class="clearfix navigation-container">
                    <button class="btn btn-primary btn-xs pull-left navigate-week back"><i class="fa fa-chevron-left"></i></button> 
                    <h4 class="pull-left week-label"></h4> 
                    <button class="btn btn-primary btn-xs pull-left navigate-week forward"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="col-md-8 col-sm-7 day-schedule">
                <!--<h3 class="title"></h3>-->
            </div>
        </div>
    </div>
    <!-- end of header -->
    <ul class="days-list">

    </ul>
</div>
<div class="wc-days-items-hidden-container hidden">
    <li>
        <div class="row day-item">
            <div class="col-xs-4 col-md-3">
                <div class="controls pull-left">
                    <!-- dynamically add controls here -->
                </div>
                <div class="clearfix pull-left">
                    <h4 class="pull-left">
                        <span class="day-label"></span>
                        <!--<span class="date-label label label-default"></span>-->
                    </h4>
                </div>
            </div>
            <div class="col-xs-8 col-md-9 day-schedule">
                
            </div>
        </div>
    </li>
</div>
