﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Casual Roster</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/less")
</head>
<body class="controller-@ViewContext.RouteData.Values["controller"] action-@ViewContext.RouteData.Values["action"]">
    <header>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @if(User.IsInRole("school")) {
                        @Html.ActionLink("Tempcall", "Roster", "School", null, new { @class = "h1 navbar-brand" })
                    } else if(User.IsInRole("teacher")) {
                        @Html.ActionLink("Tempcall", "Availability", "Teacher", null, new { @class = "h1 navbar-brand" })
                    } else {
                        <a href="/" class="h1 navbar-brand">Tempcall</a>
                    }

                </div>
                <div class="navbar-collapse collapse">
                    <div class="navbar-right">
                        <div class="top-links">
                            <ul class="nav navbar-nav navbar-right">
                                @if(!User.Identity.IsAuthenticated) {
                                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                                } else {



                                    if(User.IsInRole("teacher")) {
                                        var profile = (Casual_Roster.TeacherProfileTable)ViewBag.CurrentUser.GetProfile();
                                        <li>@Html.RouteLink(profile.firstName, "QueryRoute", new { action="Profile", controller="Teacher", id=profile.user_id })</li>
                                    }

                                    if(User.IsInRole("school")) {
                                        var profile = (Casual_Roster.SchoolProfileTable)ViewBag.CurrentUser.GetProfile();
                                        <li>@Html.RouteLink(profile.schoolName, "QueryRoute", new { action="Profile", controller="School", id=profile.user_id })</li>
                                        <li>@Html.ActionLink("Request Temp", "AddTeacher", "School")</li>
                                    }

                                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>

                                }
                            </ul>
                        </div>
                        <ul class="nav navbar-nav sf-menu sf-js-enabled sf-arrows">
                            <!--<li>@Html.ActionLink("School Registration", "Register", "School")</li>-->

                        </ul>
                    </div>
                </div>            
            </div>
        </div>
        <div class="separ hidden-xs hidden-sm"></div>
    </header>
    <div class="container body-content">
        <div class="clearfix body-container">
            @RenderBody()
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/momentjs")
    @RenderSection("scripts", required: false)
</body>
</html>
