﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Casual Roster</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/less")

    <script src="/Content/js/jquery.js"></script>
    <script src="/Content/js/jquery-migrate-1.2.1.min.js"></script>
</head>
<body class="controller-@ViewContext.RouteData.Values["controller"] action-@ViewContext.RouteData.Values["action"]">
    <div class="page">

    <!--========================================================
                            HEADER
    =========================================================-->
    <header>  
      <div id="stuck_container" class="stuck_container">
        <nav class="navbar navbar-default navbar-static-top ">
          <div class="container">                       
            <div class="navbar-header">
              <h1 class="navbar-brand">
                <a  href="./">Tempcall</a>
              </h1>
            </div>

            <div class="navbar-right">  
              <div class="top-links text-right">
                <a href="/Account/Login">Login</a>
                <a href="/Account/Login">Create an Account</a>
                <ul class="inline-list">                      
                  <li><a href="#" class="fa fa-facebook-square">facebook</a></li>
                  <li><a href="#" class="fa fa-twitter-square">twitter</a></li>
                  <li><a href="#" class="fa fa-google-plus-square">google-plus</a></li> 
                </ul>
              </div>
              <ul class="nav navbar-nav sf-menu" data-type="navbar">
                <li class="active">
                  <a href="./">Home</a>
                </li>
                <li class="dropdown">
                  <a href="/about-us">Who we are </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Lorem ipsum  </a>
                    </li>
                    <li>
                      <a href="#">Dolor sit amet  </a>  
                        <ul class="dropdown-menu">
                          <li>
                            <a href="#">Latest</a>
                          </li>
                          <li>
                            <a href="#">Archive</a>
                          </li>                      
                        </ul>                    
                    </li>
                    <li>
                      <a href="#">Conse ctetur</a>                        
                    </li>                                       
                  </ul>
                </li>
                <li>
                  <a href="/what-we-offer">What we do</a>
                </li>
                <li>
                  <a href="/clients">Our clients </a>
                </li>
                
                <li>
                  <a href="/contact-us">Contact us</a>
                </li>
              </ul>                           
            </div>

          </div>
        </nav>
      </div>
      <div class="separ"></div>  
    </header>

      <!--========================================================
                                CONTENT
      =========================================================-->

        <main>        
          @RenderBody()
        </main>

        <!--========================================================
                                FOOTER
      =========================================================-->
      <footer class="hidden">
        
        <section>
          <div class="container"> 
                <p class="rights">
                  Email Marketing  &#169; <span id="copyright-year"></span>
                  <a href="index-5.html">Privacy Policy</a>
                  More <a rel="nofollow" href="http://www.templatemonster.com/category/business-web-templates/" target="_blank">Business Website Templates at TemplateMonster.com</a>
                </p>          
          </div> 
        </section>    
      </footer>
      </div>

      @Scripts.Render("~/bundles/bootstrap")
      <script src="/Content/js/tm-scripts.js"></script>
      @RenderSection("scripts", required: false)
    </div>
</body>
</html>
