﻿@model Casual_Roster.UserTable

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLauncher.cshtml";
}

<div class="col-md-4 col-md-offset-4">
    <h3>Login</h3>

    <div class="panel">
        @using (Html.BeginForm()) {
            <div class="form-group">
                <label>Username or email</label>
                @Html.TextBoxFor(x => x.username, new { @class = "form-control" } )
                @Html.ValidationMessageFor(x => x.username)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.password)
                @Html.PasswordFor(x => x.password, new { @class = "form-control" } )
                @Html.ValidationMessageFor(x => x.password)
            </div>
            <button type="submit" class="btn btn-success btn-block">Login</button>
        }
    </div>

    <div class="panel">
        <h4 class="text-center">Register</h4>
        <hr />
        <p class="text-center">
            @Html.ActionLink("as Employer", "Register", "School", null, new { @class="btn btn-primary btn-lg" } )
        </p>
        <p class="text-center"><b>OR</b></p>
        <p class="text-center">
            @Html.ActionLink("as a Temp", "Register", "Teacher", null, new { @class="btn btn-info btn-lg" } )
        </p>
    </div>

</div>