﻿@model Stripe.StripeCard

@{
    ViewBag.Title = "Subscribe";
}

<h2>Subscribe</h2>



<div class="form-group">
  @Html.LabelFor(x => x.AccountId)
  @Html.TextBoxFor(x => x.AccountId, new { @class = "form-control" } )
  @Html.ValidationMessageFor(x => x.AccountId)
</div>
<div class="form-group">
  @Html.LabelFor(x => x.ExpirationYear)
  @Html.TextBoxFor(x => x.ExpirationYear, new { @class = "form-control" } )
  @Html.ValidationMessageFor(x => x.ExpirationYear)
</div>
<div class="form-group">
  @Html.LabelFor(x => x.ExpirationMonth)
  @Html.TextBoxFor(x => x.ExpirationMonth, new { @class = "form-control" } )
  @Html.ValidationMessageFor(x => x.ExpirationMonth)
</div>
<div class="form-group">
  @Html.LabelFor(x => x.Country)
  @Html.TextBoxFor(x => x.Country, new { @class = "form-control" } )
  @Html.ValidationMessageFor(x => x.Country)
</div>
<div class="form-group">
  @Html.LabelFor(x => x.AddressLine1)
  @Html.TextBoxFor(x => x.AddressLine1, new { @class = "form-control" } )
  @Html.ValidationMessageFor(x => x.AddressLine1)
</div>
<div class="form-group">
  @Html.LabelFor(x => x.AddressLine2)
  @Html.TextBoxFor(x => x.AddressLine2, new { @class = "form-control" } )
  @Html.ValidationMessageFor(x => x.AddressLine2)
</div>
<div class="form-group">
  @Html.LabelFor(x => x.AddressCity)
  @Html.TextBoxFor(x => x.AddressCity, new { @class = "form-control" } )
  @Html.ValidationMessageFor(x => x.AddressCity)
</div>
<div class="form-group">
  @Html.LabelFor(x => x.AddressState)
  @Html.TextBoxFor(x => x.AddressState, new { @class = "form-control" } )
  @Html.ValidationMessageFor(x => x.AddressState)
</div>
<div class="form-group">
  @Html.LabelFor(x => x.AddressZip)
  @Html.TextBoxFor(x => x.AddressZip, new { @class = "form-control" } )
  @Html.ValidationMessageFor(x => x.AddressZip)
</div>
<div class="form-group">
  @Html.LabelFor(x => x.Name)
  @Html.TextBoxFor(x => x.Name, new { @class = "form-control" } )
  @Html.ValidationMessageFor(x => x.Name)
</div>
<div class="form-group">
  @Html.LabelFor(x => x.CvcCheck)
  @Html.TextBoxFor(x => x.CvcCheck, new { @class = "form-control" } )
  @Html.ValidationMessageFor(x => x.CvcCheck)
</div>