﻿

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
    padding: 7px 0;
    display: block;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-errors ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.validation-summary-valid {
    display: none;
}

.half-transparent {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}

.semi-transparent {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";

  /* IE 5-7 */
  filter: alpha(opacity=75);

  /* Netscape */
  -moz-opacity: 0.75;

  /* Safari 1.x */
  -khtml-opacity: 0.75;

  /* Good browsers */
  opacity: 0.75;
}




/* weekCalendar */

.wc-schedule-item {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    overflow: hidden;
}
.wc-schedule-item .avatar {
    position: relative;
}
.wc-schedule-item .avatar:not(.hide-initials)::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    content: attr(data-initials);
    color: rgb(68, 68, 68);
    margin: auto;
    text-align: center;
    line-height: 67px;
    font-size: 32px;
    font-weight: 900;
}
.wc-schedule-item .avatar.user {
    /* background-image: url('/Content/user-avatar.png'); */
    background-size: 136%;
    background-position: center top;
    border: 4px solid gray;
    width: 48px;
    height: 48px;
}
.wc-schedule-item .avatar.school {
    /* background-image: url('/Content/school-avatar.png'); */
    background-size: 89%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: white;
    border: 4px solid gray;
    width: 48px;
    height: 48px;
}
.wc-schedule-item.Approved .avatar {
    border-color: rgb(31, 160, 42);
}
.wc-schedule-item.Declined .avatar {
    border-color: red;
}
.wc-schedule-item.Pending .avatar {
    border-color: rgb(255, 126, 126);
}
.wc-schedule-item .status {
    position: absolute;
    bottom: -24px;
    left: 5px;
}
.wc-schedule-item .status.Pending {
    color: rgb(255, 126, 126);
}
.wc-schedule-item .status.Declined {
    color: red;
}
.wc-schedule-item .status.Approved {
    color: rgb(31, 160, 42);
}
.wc-schedule-item .name {
    font-size: 12px;
}