﻿.body-container {
    margin-top: 40px;
}

ul.days-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.days-list .day-item {
    background: rgb(247, 253, 217);
    padding: 5px 0 5px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

/* headers */
ul.days-list .row.navigation {
    padding: 18px 0;
    background: rgb(218, 228, 255);
}
ul.days-list .row.navigation .title {
    margin: 0;
}
ul.days-list .row.navigation .week-label {
    margin: 3px 11px;
    width: 100px;
    text-align: center;
}

ul.days-list .row.day-item .date-label {
    font-size: 13px;
    margin-top: 6px;
    display: inline-block;
    padding: 5px 7px;
}

.weekCalendar {
    position: relative;
}