/*==================  Panel Menu  ======================*/
@media (max-width:767px){
	#panel{
	    right: 25px;
	    position: fixed;
	    top: 0;
	    width: 46px;
	    z-index: 9999999;
	    .transition(0.3s);
		#advanced{
			display: block;
		}
	    .bs-docs-nav{
	    	.navbar-nav{
	    		li{
	    			position: static;
	    		}
	    	}
	        border-radius: 7px;
	        top: 4px;
	        .navbar-header{
	            .navbar-toggle{
	                border: none!important;
	                padding: 9px 12px;
	                margin-right: 0;
	                &:hover{
	                    background: #563D7C!important;

	                }            
	                &:active{
	                    background: #563D7C;
	                }
	                &:focus{
	                    background: #563D7C;
	                }
	            }
	        }
	    }
		#advanced{
			.navbar-collapse{       
		        background: #563D7C;
		        width:175px;
		        position: absolute;
		        right: 15px;
		        top: 52px;
		        padding-bottom: 10px;
		        .transition(0.3s);

		        @media (max-width:425px){
		        	width:135px;	        	
		        }
		        &:hover{
		        } 
		        .dropdown-menu{	
		        	background: #563D7C;		// submenu lvl_2
		        	display: none;
		            padding-bottom: 15px;
		            min-width: 135px!important;
		        }
		    }
		    .navbar-collapse.in{	    	
		        overflow-y: visible;
		    }
		}

	}    
	    
}

// submenu lvl_2

@media (max-width:767px){
	.navbar-nav .open .dropdown-menu{		
			display: block!important;
		    li{
		    	a{
		    		padding-left: 15px!important;
		    	}
		    }	    	
		    ul{
		    	padding-left: 23px!important;
		    	a{
		    		padding-left: 5px;
		    	}
		    }
		    a{
		    	padding-left: 12px!important;
		    }
		}
@media (max-height:500px){
		.navbar-nav .open .dropdown-menu{		
			font-size: 9px!important;
			position: absolute!important;
			background: lighten(#563D7C,5%)!important;
			min-width: 135px!important;
		    top: 0;
		    right: 100%;
		    left: -100%;
		    .transition(0.3s);
		    li{
		    	a{
		    		padding-left: 15px!important;
		    	}
		    }	    	
		    ul{
		    	padding-left: 23px!important;
		    	a{
		    		padding-left: 5px;
		    	}
		    }
		    a{
		    	padding-left: 12px!important;
		    }
		}	            	
	}
}