//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  font-weight: @btn-font-weight; 
  cursor: pointer;
  border: 1px solid transparent;
  .button-size(@padding-base-vertical; @padding-base-horizontal; 19px; 19px; @border-radius-base);
  .transition(.3s);
  .border-radius(@border-radius-large);
  .button-variant(#fff; transparent; #4e4e4e);
  // margin-bottom: 0; // For input.btn 
  // text-align: center;
  // vertical-align: middle;
  // touch-action: manipulation;  
  // background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  // white-space: nowrap;
  // .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
  // .user-select(none);
  span.fa{
    margin-left: 16px;
    top: 1px;
    position: relative;    
    .transition(.3s);
  }
  // &,
  // &:active,
  // &.active {
  //   &:focus,
  //   &.focus {
  //     .tab-focus();
  //   }
  // }
  
  &:hover
  // &:focus,
  // &.focus 
  {
    // color: @btn-default-color;
    .button-variant(@brand-primary; @btn-default-bg; @brand-primary); 
    span{
      color: @brand-primary;
    }   
  }

  // &:active,
  // &.active {
    // outline: 0;
    // background-image: none;
    // .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  // }

  // &.disabled,
  // &[disabled],
  // fieldset[disabled] & {
  //   cursor: @cursor-disabled;
  //   pointer-events: none; // Future-proof disabling of clicks
  //   .opacity(.65);
  //   .box-shadow(none);
  // }
}



// Alternate buttons
// --------------------------------------------------

.btn-default {
  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
  &:hover{
    .button-variant(@btn-default-color; @btn-default-border; @btn-default-border);
    span{
      color: #e0e0e0;
    } 
  }
}
.btn-primary {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  &:focus{
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
    span{
      color: @brand-primary;
    }
  }
  &:hover{
    .button-variant(@brand-primary; @btn-default-bg; @brand-primary);
    span{
      color: @brand-primary;
    }
  }
}
// Success appears as green
.btn-success {
  .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
  &:focus{
    .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
    span{
      color: @btn-success-color;
    }
  }
  &:hover{
    .button-variant(@brand-success; @btn-default-bg; @brand-success);
    span{
      color: @brand-success;
    }
  }
}
// Info appears as blue-green
.btn-info {
  .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
}
// Warning appears as orange
.btn-warning {
  .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: @link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    .box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: @btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}
.btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
