//
// Jumbotron
// --------------------------------------------------


.jumbotron {
	width: 685px;
  	height: 100%;
  	font-size: @jumbotron-font-size;
  	color: @white-clr;
	h2{
		// color: @white-clr;
		small{
			margin-top: 8px;	
			// color: @secondary-clr; 			
			&.txt-clr-pr1{
			// 	color: @primary-light;
				text-shadow: 0px 0px 2px #000;
			}
		}
	}
	* + p{
			margin-top: 13px;
			width: 80%;
	}
	@media(max-width: 825px){
		background: rgba(0,0,0,.1);
		padding: @jumbotron-padding;
		.border-radius(@border-radius-small);
		width: 100%;
		h2{
			font-size: 45px;
		}
		* + p{
			width: 100%;
		}
	}	
	@media(max-width: 500px){
		h2{
			font-size: 35px;
		}
	}
}

.jumbotron1{
	width: 100%;
  @media(max-width: 825px){
  	background: transparent;
	padding: 0;
	.border-radius(0);
  }
  p{
  	color: @text-color;
  }
}