//
// Scaffolding
// --------------------------------------------------

//==================    Imports    ======================
// @import "_menu.less";
@import "_stuck-menu.less";
@import "_to-top.less";
@import "_thumb.less";
// // @import "_tabs.less";
@import "_parallax.less";
@import "_navbar.less";
@import "_panel.less";

// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}

div.container{
    @media (min-width: 768px){
        padding-left: 0;
        padding-right: 0;
    }
}


// Body reset

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  font-weight: @font-weight-base;
  line-height: @line-height-base;
  color: @text-color;
  background-color: @footer-bg;
  -webkit-text-size-adjust: none;
}

.page {
    overflow: hidden;
    min-height: 500px;

    .lt-ie9 & {
        min-width: 1200px;
    }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

// a {
//   color: @link-color;
//   text-decoration: none;

//   &:hover,
//   &:focus {
//     color: @link-hover-color;
//     text-decoration: @link-hover-decoration;
//   }

//   &:focus {
//     .tab-focus();
//   }
// }

a {
    font: inherit;
    color: inherit;
    text-decoration: none;  
    .transition(.3s);

    &:focus{
        outline: none;
        text-decoration: none;  
        color: inherit;
    }

    &:active{
        background: transparent;    
        text-decoration: none;
    }

    &:hover{
        text-decoration: @link-hover-decoration; 
        color: @link-hover-color;       
    }    
}

a[href^="tel:"],
a[href^="callto:"] {
    text-decoration: none;
}


// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {

  figcaption{
  }
}

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
    li{
      padding: 0;
      list-style: none;
      margin: 0;
      a{
        padding: 0;
        list-style: none;
        margin: 0;
      }
    }  
}

// Images

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  .img-responsive();
}

// Rounded corners
.img-rounded {
  border-radius: @border-radius-large;
}

// Image thumbnails
//
// Heads up! This is mixin-ed into thumbnails.less for `.thumbnail`.
.img-thumbnail {
  // padding: @thumbnail-padding;
  // line-height: @line-height-base;
  // background-color: @thumbnail-bg;
  // border: 1px solid @thumbnail-border;
  // border-radius: @thumbnail-border-radius;
  // .transition(all .2s ease-in-out);

  // Keep them at most 100% wide
  .img-responsive(inline-block);
}

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}


// Horizontal rules

hr {
  margin-top:    12px;
  margin-bottom: 8px;
  border: 0;
  border-top: 1px solid @hr-border;
}


// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
// Upstream patch for normalize.css submitted: https://github.com/necolas/normalize.css/pull/379 - remove this fix once that is merged

[role="button"] {
  cursor: pointer;
}

/*========================================================
                     HEADER  Section
=========================================================*/

header{
  background: @header-bg;
  padding-top: 41px;

.top-links{
  width: 100%;
  a{
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    &:hover{
      color: @primary-lighter;
    }
  }
  & a:first-child + *{
    margin-left: 32px;
  }
  > a:first-child{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      width: 1px;
      height: 19px;
      background: #ccc;
      right: -17px;
      top: 6px;
    }
  }  
}
.top-links + ul{
    margin-top: 11px;
  }

.separ{
  background: url(../images/bg_head.png) repeat-x;
  height: 40px;
  }
* + .separ{
  margin-top: 46px;
  }

@media (min-width: 768px) and (max-width: 991px){
    .container{
      text-align: center;
      .navbar-header,
      .navbar-right{
        float: none;
        display: inline-block;
        text-align: center;
      }
      .navbar-right{
        margin-right: 104px  
      }
      
    }
  }
}

/*========================================================
                     CONTENT  Section
=========================================================*/
main{
    background: @content-bg;
}


/*========================================================
                     FOOTER  Styles
=========================================================*/
footer{  
    background: @footer-bg;
    padding-top: 32px;
    padding-bottom: 30px;
    border-top: 2px solid #f6f6f6;
}