﻿// @import "mixins.less";
// @import "variables.less";
// @import "animate.css";

// .container{
//     @media (min-width: 768px){
//         padding-left: 0;
//         padding-right: 0;
//     }
// }


// .page {
//     overflow: hidden;
//     min-height: 500px;

//     .lt-ie9 & {
//         min-width: 1200px;
//     }
// }

// .center767{
//     @media (max-width: 767px){
//         text-align: center;
//         *{
//             text-align: center;
//         }
//     }    
// }

// .ins767{
//     @media (max-width: 767px){
//         padding-left: 8%;
//         padding-right: 8%;
//     }
// }





//==================    Imports    ======================
// @import "_menu.less";
// @import "_stuck-menu.less";
// @import "_to-top.less";
// @import "_thumb.less";
// // @import "_tabs.less";
// @import "_parallax.less";
// @import "_navbar.less";
// @import "_panel.less";

