//
// Thumbnails
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  margin-bottom: 15px;
  span{
    display: inline-block;
    position: relative;
    font-size: 69px;
    color: @white-clr;    
    &:before{
      position: relative;
      z-index: 1;
      left: 32px;
      top: 14px;
    }
    &.cart:before{
      left: 24px;
    }
    &.thumbs:before{
      left: 26px;
    }
    &:after{
      position: absolute;
      content: '';
      width: 107px;
      height: 107px;
      .border-radius(50%);
      background: @primary-light;
      top: -2px;
      left: 0;
      z-index: 0;
      .transition(0.3s);
    }
  }
  > img,
  a > img {
    &:extend(.img-responsive);
    margin-left: auto;
    margin-right: auto;
  }

  // Image captions
  .caption {    
    margin-top: 57px;
    h4{
      color: @brand-primary;
    }    
  }
  &:hover{     
    span:after{
      background: @brand-primary;
    }
  }
}

.thumbnail2{
  .caption{
    margin-top: -21px;
  }
  span.fa-sun-o:before{
    top: -21px;
    left: 20px; 
  }
  span.fa-users:before{
    top: -21px;
    left: 19px;
  }
  span.fa-comments:before{
    top: -21px;
    left: 20px;
  }
  span.fa-tag:before{
    top: -21px;
    left: 30px;
  }
  
  span.fa-trophy:before{
    top: -24px;
    left: 23px;
  }
  span.fa-star:before{
    top: -24px;
    left: 23px;
  }
  span.fa-thumbs-up:before{
    top: -24px;
    left: 23px;
  }
}

.thumbnail1{
  // margin-top: 41px;
  img{
    border-top-right-radius: 50px; 
    border-top-left-radius: 50px; 
  }
  .caption {
    max-width: 270px;
    background: #f2f2f2;
    padding: 30px 24px 34px;
    border-bottom-right-radius: 50px; 
    border-bottom-left-radius: 50px; 
    // margin-top: 57px;
    h4{
      color: @brand-primary;
      & a:hover{
        color: @secondary-clr;
      }
    }   
    p{
      color: @text-color;
    } 
  }
  @media (max-width: 767px){
    margin-left: auto;
    margin-right: auto;
    width: 270px;
  }
}

.thumbnail3{
  text-align: left;
  img{
    display: inline-block;
  }
  .caption{
    margin-top: 11px;
  }
}