//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  // line-height: @headings-line-height;
  // color: @headings-color;  
  margin: 0;
}


h1, .h1 { 
  font-size: @font-size-h1;
  line-height: @font-lh-h1;
  // color: @white-clr; 
  // position: relative;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px; 
  @media (max-width: 767px){
    margin-left: 10px;
  }
  small,
  .small {
    // position: absolute;
    font-weight: 500;
    font-size: 35px;
    line-height: 35px; 
    color: @text-color;
    // right: 0;
    // top: 16px;
  }

}
h2, .h2 { 
  font-size: @font-size-h2;
  line-height: @font-lh-h2; 
  color: @secondary-clr;
  small{
  }   
  @media (max-width: 1199px){
    font-size: 52px;
  }
}


h3, .h3 { 
  font-size: @font-size-h3;
  line-height: @font-lh-h3; 
  small{    
  }
  @media (max-width: 1199px){
    font-size: 36px;
  }
}

h4, .h4 { 
  font-size: @font-size-h4;
  line-height: @font-lh-h4;
  color: @secondary-clr;   
}

h5, .h5 { 
  font-size: @font-size-h5;
  line-height: @font-lh-h5; 
}
h6, .h6 { 
  font-size: @font-size-h6;
  line-height: @font-lh-h6; 
}


// Body text
// -------------------------

p {
  line-height: @line-height-base;
  margin: 0;
}

.lead{
  font-size: 20px;
  color: @brand-primary;
  line-height: 1.6; 
}


// Main Layout
// -----------------------
* + .row{
margin-top: 36px;
}
.row + *{
  margin-top: 20px;
}
.row + .row{
  margin-top: 40px;
}
h2 + *{
  margin-top: 19px;
}
.offs1 + *{
  margin-top: 41px;
}
* + h2{
  margin-top: 20px;
}
h3 + *{
  margin-top: 20px;
}
* + h3{
  margin-top: 20px;  
}
h4 + *{
  margin-top: 10px;
}
* + .offs2{
  margin-top: 25px;
}
* + h4{
  margin-top: 20px;  
}
* + .btn{
  margin-top: 31px;
}
* + .marked-list{
  margin-top: 31px;
}
.marked-list + *{
  margin-top: 42px;  
}
.offs3{
  margin-top: 32px;
}


//-------------------------
@media (max-width:400px){
.row .col-xs-6{
    clear: both;
    width: 100%;
  }
}

@media (max-width: 525px){
.row .col-xs-4{  
    clear: both;
    width: 100%;
  }
}

@media (max-width: 767px){
  .row .col-xs-12{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px){
  .row .col-sm-12{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .row .col-sm-6{
    margin-top: 30px;
  }
}

@media (max-width: 500px){
  .row .col-xs-8{
    clear: both;
    width: 100%;
  } 
}

// FA
// -----------------------

.fa{
  line-height: inherit;
}

[class*='fa-']{
    &:before{
      font-weight: 400;
      font-family: @fa;
      color: inherit;
      // font-size: 20px;
    }     
}

// Emphasis & misc
// -------------------------

// Ex: (12px small font / 14px base font) * 100% = about 85%
small,
.small {
  // font-size: floor((100% * @font-size-small / @font-size-base));
  font-size: inherit;
  font-weight: 300;
  color: @secondary-clr; 
  display: inline-block;
}

mark,
.mark {
  background-color: @state-warning-bg;
  padding: .2em;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

.center767{
    @media (max-width: 767px){
        text-align: center;
        *{
            text-align: center;
        }
    }    
}

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

.fw-l{
  font-weight: 300;
}
.fw-n{
  font-weight: 400;
}
.fw-m{
  font-weight: 500;
}
.fw-sb{
  font-weight: 600;
}
.fw-b{
  font-weight: 700;
}
.fw-xb{
  font-weight: 800;
}


.txt-clr1{
  color: @white-clr;
}

.txt-clr2{
  color: @secondary-clr;
}

.txt-clr-pr{
  color: @brand-primary;
}
.txt-clr-pr1{
  color: @primary-light;
}
.txt-clr-pr2{
  color: @primary-lighter;
}

// Contextual colors
.text-muted {
  color: @text-muted;
}
.text-primary {
  .text-emphasis-variant(@brand-primary);
}
.text-success {
  .text-emphasis-variant(@state-success-text);
}
.text-info {
  .text-emphasis-variant(@state-info-text);
}
.text-warning {
  .text-emphasis-variant(@state-warning-text);
}
.text-danger {
  .text-emphasis-variant(@state-danger-text);
}




// Contextual backgrounds
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).
.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  // *{
  //   color: @white-clr;
  // }
  h2,h2 *,
  h3,h3 *{
    color: @white-clr;
  }
  color: @white-clr;
  background: @brand-primary;
  // .bg-variant(@brand-primary);
}

.bg-secondary{
  background: @secondary-clr;
}

.bg-secondary1{
  background: #f6f6f6;
}
.bg-secondary2{
  background: #292929;
}

.bg-success {
  .bg-variant(@state-success-bg);
}
.bg-info {
  .bg-variant(@state-info-bg);
}
.bg-warning {
  .bg-variant(@state-warning-bg);
}
.bg-danger {
  .bg-variant(@state-danger-bg);
}


// Page header
// -------------------------

.page-header {
  padding-bottom: ((@line-height-computed / 2) - 1);
  margin: (@line-height-computed * 2) 0 @line-height-computed;
  border-bottom: 1px solid @page-header-border-color;
}


// Lists
// -------------------------

// Unordered and Ordered lists
// ul,
// ol {
//   padding: 0;
//   list-style: none;
//   margin: 0;
//     li{
//       padding: 0;
//       list-style: none;
//       margin: 0;
//       a{
//         padding: 0;
//         list-style: none;
//         margin: 0;
//       }
//     }  
// }

// List options

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
  .list-unstyled();
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}


/*================      Flex list     =================*/

.flex-list{
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.flex-list li{
    display: table-cell;
    position: relative;
}

@media (max-width: 767px){
    .flex-list{
        li{
            display: block;
        }
        li + li{
          margin-top: 35px;
        }
    }
}
.flex-list + .flex-list{
  margin-top: 43px;
}

/*================      Index list     =================*/

.index-list{
    counter-reset: num;
}

.index-list li{    
    position: relative;
    padding-left: 100px;
   
    h4{      
      margin-top: -9px;
      color: @brand-primary;
    }
  
    &:before{
      content: '';
      position: absolute;
      width: 71px;
      height: 71px;
      .border-radius(50%);
      background: @primary-light;
      top: 8px;
      left: 0px;
    }    
    
    & + li{
        margin-top: 32px;
    }  
}

.index-list li:after{
  // content: counter(num, decimal-leading-zero );
  content: counter(num);
  counter-increment: num; 
  position: absolute; 
  color: @white-clr;
  font-size: 48px;
  font-weight: 600;
  left: 24px;
  top: -11px;
}

.index-list2{
  li{
    padding-left: 116px;
  }
  & li:before{
    background: #f2f2f2;
    left: 16px;
  }
  & li:after{    
    font-size: 36px;
    font-family: @fa;
    color: @primary-light;
    width: 71px;
    height: 71px;
    left: 33px;
    top: 6px;
  }
  & li:nth-child(1):after{
    content: '\f085'; 
  }
  & li:nth-child(2):after{
    content: '\f005'; 
  }
  & li:nth-child(3):after{
    content: '\f087'; 
  }
  li{
    // @media (max-width: 991px){
    //     &:nth-child(3){
        // margin-top: 0;
    //   }
    // }  
    @media (max-width: 767px){
        &:nth-child(n+1){
        margin-top: 24px;
      }
    }  
  }    
}

/*================    Marked list     =================*/

.marked-list{
  display: block;
    li{ 
      font-size: 19px;
      font-weight: 600;
      line-height: 28px;
      position:  relative;
      padding-left: 40px;
      color: @brand-primary;
      .transition(.3s);
      &:before{
        position: absolute;
        content: '\f054';
        font-family: @fa;
        font-size: 19px;
        left: 0;
        top: 1px;
        color: @brand-primary;
      } 
      &:hover{
        color: @secondary-clr; 
        a{
          color: @secondary-clr; 
        }       
      }
    }
    @media (max-width: 1199px){
      li{
        font-size: 15px;
      }
    }
    li + li{
      margin-top: 19px;
    }
}

.marked-list2{
margin-top: 21px;
li{
    font-weight: 500;
    color: @text-color;
    &:before{
      left: 0;
      top: 6px;
    }
    &:hover{
        color: @brand-primary; 
        a{
          color: @brand-primary; 
        }       
      }
  }
  li + li{
      margin-top: 6px;
    }     
}
.marked-list2 + *{
  margin-top: 29px;
}

.marked-list3{
  li{
    color: @white-clr;
    &:before{
      color: @primary-light;
    }
  }
}

.marked-list1{
  display: block;
    li{       
      position:  relative;
      padding-left: 31px;
      .transition(.3s);
      &:before{
        position: absolute;
        content: '\f00c';
        color: @brand-primary;
        font-family: @fa;
        font-size: 15px;
        left: 0;
        top: 1px;
      } 
      
    }
    // li + li{
    //   margin-top: 19px;
    // }
}

/*=================   Inline list   =====================*/

.inline-list{ //icons
  display: inline-block;
  width: 81px;
    .fa{
        position: relative;
        font: 0/0 a;
    }
    .fa:before{
        position: absolute;
        font-size: 23px;
        .transition(.2s);
        // z-index: 2;
        color: #c2c2c2;  
        top: -5px; 
        left: -20px;     
    }
    .fa:hover,
    .fa:hover:before{
      color: @brand-primary;
    }

    li{
        display: inline-block;
    }

    li + li{
        margin-left: 25px;
    }    
} 
* + .inline-list{
  margin-left: 20px;
}



/*================    Term list     =================*/

.terms-list{
  margin-top: 29px;
    dt{       
        font-weight: 600;
        color: @brand-primary;
        font-size: 19px;
        line-height: 34px;
    }

    * + dt{
        margin-top: 36px;
    }

    dt + *{
        margin-top: 13px;
    }

    dd{
 
    }
    & + *{
        margin-top: 36px;
        a:hover{
          // font-weight: 700;
          color: @secondary-clr;
        }
    }
}

// Description Lists
dl {
  padding: 0;  
  margin: 0;
  font-style: normal;
}
dt,
dd {
  padding: 0;  
  margin: 0;  
}
dt {
}
dd {  
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {
  dd {
    &:extend(.clearfix all); // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: @grid-float-breakpoint) {
    dt {
      float: left;
      width: (@dl-horizontal-offset - 20);
      clear: left;
      text-align: right;
      .text-overflow();
    }
    dd {
      margin-left: @dl-horizontal-offset;
    }
  }
}


// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted @abbr-border-color;
}
.initialism {
  font-size: 90%;
  .text-uppercase();
}

// Blockquotes
blockquote {
  margin: 0;  
  // font-size: @blockquote-font-size;
  // color: inherit;
  h4 *{
    color: @primary-light;  
    font-style: normal;
  }
  h4{
    margin-top: 11px;
  }
  // * + cite{
  //     margin-top: 12px;
  //   }

  p{
    // padding-top: 52px;
    position: relative;
    // &:before{
    //   position: absolute;
    //   content: '\f10e';
    //   font-family: @fa;
    //   font-size: 33px;
    //   color: @brand-primary;
    //   top: -9px;
    //   left: 0;
    // }
  }
}



// Opposite alignment of blockquote
//
// Heads up: `blockquote.pull-right` has been deprecated as of v3.1.0.
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid @blockquote-border-color;
  border-left: 0;
  text-align: right;

  // Account for citation
  footer,
  small,
  .small {
    &:before { content: ''; }
    &:after {
      content: '\00A0 \2014'; // nbsp, em dash
    }
  }
}

// Addresses
address {  
  font-style: normal;
  dt,dd{
    display: inline-block;
  }
  dt{
    width: 22%;
  }
  dd{
    width: 60%;
  }
 @media (min-width: 768px) and (max-width: 1199px),
 (max-width: 450px){
  dt{
    width: 34%;
  }
 }
}   



// Copyright

.rights{
  font-weight: 500;
  font-size: 13px;
}

// For Facebook box
// ------------------------
// footer{
//   @media (min-width: 992px) and (max-width: 1110px){
//     .col-md-3:nth-child(1),
//     .col-md-3:nth-child(2){
//       width: 22%;
//     }
//   } 
// }

// Articles

article{
  time{
    font-size: 20px;
  }
  time + *{
    margin-top: -3px;
  }
  * + &{
    margin-top: 7px;
  }
  & + article{
    margin-top: 21px;
  }  
}

// Pricing table
//---------------------

.pricing-table{
  max-width: 370px;
  min-width: 290px;
  .price-box{    
    *{
      color: @white-clr;
    }
    text-align: center;
    background: @primary-light;
    padding-top: 23px;
    max-height: 224px;
    border-top-right-radius: 50px; 
    border-top-left-radius: 50px; 
    .transition(.3s);
    p{
      position: relative;
      font-size: 90px;
      font-weight: 500;
      display: inline-block;
      margin-right: 17%;
      margin-top: -29px;
      span:first-child{
        font-weight: 300;
        top: 25px;
        left: -32px;
      }
      span:nth-child(2){        
        top: 26px;
        left: 103px;
      }
      span{        
        position: absolute;
        font-size: 50px;       
        &.term{
          width: 95px;
          display: inline-block;
          font-size: 15px;
          left: 103px;
          top: 112px;
        }
      }
    }
  }
  .price-cnt{
    background: #f2f2f2;
    padding-top: 29px;
    min-height: 281px;
    border-bottom-right-radius: 50px; 
    border-bottom-left-radius: 50px; 
    .marked-list1{
      margin-left: 20%;
    }
    .marked-list1 + .btn{
      margin-top: 25px;
      margin-left: 21%;
    }
    @media (min-width: 992px) and (max-width: 1199px), (max-width: 345px){
      .marked-list1{
        margin-left: 13%;
      }
      .marked-list1 + .btn{
        margin-left: 13%;
      }
    }     
  }
  .btn-default:hover{
    color: @white-clr;
    background: @brand-success;
  }
  &:hover{
    .price-box{
      background: @brand-primary;
    }
  }
  @media (max-width: 991px){
      margin-left: auto;
      margin-right: auto;
      margin-top: 35px;
     }
}
.box1{
  .price-box{
    padding: 51px 10px;
  }
  .price-cnt{
    padding: 29px 40px; 
    .btn_wr{
      text-align: center;
      margin-top: 26px;
    }
  }
}