//
// Wells
// --------------------------------------------------


// Base class
.well {
  padding-bottom: 45px;
  padding-top: 52px;
}

// Sizes
.well-lg {
  padding: 24px;
  border-radius: @border-radius-large;
}
.well-sm {
  padding: 9px;
  border-radius: @border-radius-small;
}

.well_ins1{
	padding-bottom: 89px;
}
.well_ins2{
	padding-top: 54px;
	@media (max-width: 991px){
		padding-top: 0px;
		img{
			margin-left: -17px;
		}
	}
}
.well_ins3{
  padding-top: 22px;
}

.well1 {
  padding-bottom: 0;
  padding-top: 77px;
}
.well2 {
  padding-bottom: 98px;
  padding-top: 84px;
}
.well3 {
  padding-bottom: 86px;
  padding-top: 88px;
}
.well4 {
  padding-bottom: 110px;
  padding-top: 88px;
}
.well5 {
  padding-bottom: 96px;
  padding-top: 85px;
}
.well6 {
  padding-bottom: 82px;
  padding-top: 100px;
}
.well7 {
  padding-bottom: 100px;
  padding-top: 49px;
}
.well8 {
  padding-bottom: 107px;
  padding-top: 94px;
}
.well9 {
  padding-bottom: 0;
  padding-top: 93px;
}
.well10{
  padding-top: 49px;
  padding-bottom: 0;
}
.well11 {
  padding-bottom: 100px;
  padding-top: 52px;
}
.well12 {
  padding-bottom: 188px;
  padding-top: 148px;
  h2{
    margin-top: 28px;
  }
}