﻿@{
    ViewBag.Title = "Tempcall";
    Layout = "~/Views/Shared/_LayoutLauncher.cshtml";
}




<section class="camera_container">
  <div id="camera" class="camera_wrap">
    <div data-src="/Content/images/page-1_slide1.jpg">
      <div class="camera_caption fadeIn">
        <div class="jumbotron">
          <h2 class="txt-clr1">
            The fastest way to message your <br />
            temporary staff… <br />
            <small class='txt-clr2 hidden'>
              Now you can send the same work request to <br />
              a group of temporary employee’s.
            </small>
          </h2>
          <p>
            Now you can send the same work request to a group of temporary employee’s.
          </p>
          <a href="#" class="btn btn-primary">60 Day Free Trial<span class="fa fa-chevron-right"></span></a>
        </div>
      </div>
    </div>
    <div data-src="/Content/images/page-1_slide2.jpg">
      <div class="camera_caption fadeIn">
        <div class="jumbotron">
          <h2 class="txt-clr1">
          Keep in contact easily <br />
          with your existing <br />
          temporary staff… <br />
            <small class='txt-clr2 hidden'>
              Have an online list of your goto temps and build <br />
              on the list with new temps in your area. 
            </small>
          </h2>
          <p>
            Have an online list of your goto temps and build on the list with new temps in your area. 
          </p>
          <a href="#" class="btn btn-success">60 Day Free Trial<span class="fa fa-chevron-right"></span></a>
        </div>
      </div>
    </div>
    <div data-src="/Content/images/page-1_slide3.jpg">
      <div class="camera_caption fadeIn">
        <div class="jumbotron">
          <h2 class="txt-clr1">
          Become more visible to <br />
          new staff in your area… <br />
            <small class='txt-clr-pr1 hidden'>
              Any new staff in your area have free access <br />
              to post themselves as available for your business.
            </small>
          </h2>
          <p>
            Any new staff in your area have free access to post themselves as available for your business.
          </p>
          <a href="#" class="btn">60 Day Free Trial<span class="fa fa-chevron-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</section>    

<section class="well well1 wow fadeIn" data-wow-duration="3s">
  <div class="container">
    <div class="row">
      <div class="col-md-6 well_ins1">
        <h2>
          Check Available Staff &amp; Offer
          <small>
            Work Opportunities Fast
          </small>
        </h2>
        <p>
          Use our simple online calendar system to register your existing temporary staff so you can SMS them whenever you have work for them. The staff can also post when they are available for work and when they are already committed. 
        </p>
        <ul class="marked-list hidden">
          <li>
            <a href="#">
            Lorem ipsum dolor sit amet conse ctetur adipisicing 
            </a>
          </li>
          <li>
            <a href="#">
            Elit sed do eiusmod tempor incididunt ut 
            </a>
          </li>
          <li>
            <a href="#">
            Labore et dolore magna aliqua. 
            </a>
          </li>
          <li>
            <a href="#">
            Ut enim ad minim veniam, quis nostrud 
            </a>
          </li>
        </ul>
        <a href="#" class="btn btn-success">Take the 60 day free trial now<span class="fa fa-chevron-right"></span></a>
      </div>
      <div class="col-md-6 well_ins2">
        <img src="/Content/images/page-1_img1.png" alt="">
      </div>
    </div>
  </div>
</section>  

<section class="parallax well well2 wow fadeIn" data-wow-duration="3s" data-url="/Content/images/parallax1.jpg" data-mobile="true">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="jumbotron jumbotron1">
          <h2 class="txt-clr-pr2">
            Organising your temporary 
            staff has never been easier<br />
            <small class="hidden">
              Don’t get caught looking for phone numbers <br />
              and contact details ever again. Have them <br />
              all in one place online ready to use.
            </small>
          </h2>
          <p>
            Don’t get caught looking for phone numbers and contact details ever again. Have them all in one place online ready to use.
          </p>
          <a href="#" class="btn btn-primary">See how easy it is with the 60 day free trial<span class="fa fa-chevron-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="well well3">
  <div class="container">
    <h2>
      Information
    </h2>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail">
          <span class="fa fa-video-camera"></span>
          <div class="caption">
            <h4 class="hidden">
              Lorem ipsum dolor sit amet conse ctetur 
              adipisicing elit, sed do eiusmod.
            </h4>
            <p>
              See how TEMPCALL can help you as an employer keep in contact with your temporary staff.
            </p>
            <a href="#" class="btn btn-default">Read more</a>
          </div>
        </div>
      </div>  
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail">
          <span class="fa fa-user"></span>
          <div class="caption">
            <h4 class="hidden">
              Ipsum dolor sit amet conse ctetur 
              adipisicing elit, sed do eiusmod.
            </h4>
            <p>
              Look at the industries that can benefit from using TEMPCALL and how they can search for casual staff in their area.
            </p>
            <a href="#" class="btn btn-default">Read more</a>
          </div>
        </div>
      </div> 
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail">
          <span class="fa fa-thumbs-o-up thumbs"></span>
          <div class="caption">
            <h4 class="hidden">
              Dolor sit amet conse ctetur adipisicing 
              elit, sed do eiusmod.
            </h4>
            <p>
              Employee’s now have a unique way of making themselves available to new potential employers. 
            </p>
            <a href="#" class="btn btn-default">Read more</a>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>

<section class="well well4 bg-primary wow fadeIn" data-wow-duration="3s">
  <div class="container">
    <h2> 
      What 
      <small>
        People Say?
      </small>  
    </h2>
    <div class="row">
      <blockquote class="media col-sm-6 col-xs-12">
        <div class="media-left">
            <img class="media-object img-circle" src="/Content/images/page-1_img2.png" alt="">
        </div>
        <div class="media-body">
          <h4>
            <cite>
              Matt, a manager of casual retail staff
            </cite>              
          </h4>
          <p>
            When I have a staff member call in sick I can check to see who is available for a quick start and message them directly from my smart phone. It’s so easy.
          </p>
        </div>
      </blockquote>
      <blockquote class="media col-sm-6 col-xs-12">
        <div class="media-left">
            <img class="media-object img-circle" src="/Content/images/page-1_img3.png" alt="">
        </div>
        <div class="media-body">
          <h4>
            <cite>
              Kate, a casual teacher
            </cite>              
          </h4>
          <p>
            I can now have myself available to the schools I normally work for and I have exposure to schools who do not know about me.
          </p>
        </div>
      </blockquote>
    </div>
  </div>
</section>

<section class="well well5">
  <div class="container">
    <h2> 
      Plans 
      <small>
        and pricing
      </small>  
    </h2>
    <div class="row">
      <div class="col-md-4 col-sm-12 wow fadeInLeft" data-wow-duration="2s">
        <div class="pricing-table">
          <div class="price-box">
            <h3>
              Employee Service
            </h3>
            <p>
              <span class="hidden">$</span>
              Free
              <span class="hidden">.88</span>
              <span class='term hidden'>/ for 30 days</span>
            </p>
          </div>
          <div class="price-cnt">
            <ul class="marked-list1">
              <li><a href="#">Work calendar </a></li>
              <li><a href="#">SMS service </a></li>
              <li><a href="#">Employer listing</a></li>
              <li><a href="#">Profession Guide</a></li>
            </ul>
            <a href="#" class="btn btn-default">Read more</a>
          </div>
        </div>
      </div>  
      <div class="col-md-4 col-sm-12">
        <div class="pricing-table">
          <div class="price-box">
            <h3>
              Employer 60 Day Trial
            </h3>
            <p>
              <span class="hidden">$</span>
              Free
              <span class="hidden">.88</span>
              <span class='term hidden'>/ for 60 days</span>
            </p>
          </div>
          <div class="price-cnt">
            <ul class="marked-list1">
              <li><a href="#">Register employer </a></li>
              <li><a href="#">List employee’s </a></li>
              <li><a href="#">SMS fee in service</a></li>
              <li><a href="#">Private employee list</a></li>
            </ul>
            <a href="#" class="btn btn-default">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 wow fadeInRight" data-wow-duration="2s">
        <div class="pricing-table">
          <div class="price-box">
            <h3>
              Employer Plan
            </h3>
            <p>
              <span>$</span>
              240
              <span>.00</span>
              <span class='term'>/ year</span>
            </p>
          </div>
          <div class="price-cnt">
            <ul class="marked-list1">
              <li><a href="#">Register employer </a></li>
              <li><a href="#">List employee’s </a></li>
              <li><a href="#">SMS fee in service </a></li>
              <li><a href="#">Public employee list </a></li>
            </ul>
            <a href="#" class="btn btn-default">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="well well6 bg-secondary1">
  <div class="container">
    <ul class="flex-list">
      <li>
        <i class="fa fa-university fa-5x"></i>
        <!--<a href="#">
          <img src="/Content/images/page-1_img4.png" alt="">
        </a>-->
      </li>
      <li>
        <i class="fa fa-gears fa-5x"></i>
        <!--<a href="#">
          <img src="/Content/images/page-1_img5.png" alt="">
        </a>-->
      </li>
      <li>
        <i class="fa fa-wrench fa-5x"></i>
        <!--<a href="#">
          <img src="/Content/images/page-1_img6.png" alt="">
        </a>-->
      </li>
      <li>
        <i class="fa fa-hospital-o fa-5x"></i>
        <!--<a href="#">
          <img src="/Content/images/page-1_img7.png" alt="">
        </a>-->
      </li>
    </ul>
    <ul class="flex-list">
      <li>
        <i class="fa fa-gavel fa-5x"></i>
        <!--<a href="#">
          <img src="/Content/images/page-1_img4.png" alt="">
        </a>-->
      </li>
      <li>
        <i class="fa fa-line-chart fa-5x"></i>
        <!--<a href="#">
          <img src="/Content/images/page-1_img5.png" alt="">
        </a>-->
      </li>
      <li>
        <i class="fa fa-leaf fa-5x"></i>
        <!--<a href="#">
          <img src="/Content/images/page-1_img6.png" alt="">
        </a>-->
      </li>
      <li>
        <i class="fa fa-truck fa-5x"></i>
        <!--<a href="#">
          <img src="/Content/images/page-1_img7.png" alt="">
        </a>-->
      </li>
    </ul>
  </div>        
</section>


